.image {
    opacity: 0;
    transition: opacity 0.3s;
}

.image-loaded {
    opacity: 1;
}

.imageloader.loading {
    opacity: 0;
    transition: opacity 3s;
}


.imageloader.pending {
    opacity: 0;
    transition: opacity 3s;
}


.imageloader.loaded{
    opacity: 1;
}

.failed {}
